.BillComponent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-panel,.middle-panel,.bottom-panel{
    flex: 1; /* Each pannel have equal space*/
}

.top-panel{
    background-color: aliceblue;
}

.middle-panel{
    background-color: aliceblue;
}

.bottom-panel{
    background-color: brown;
}

.fixed-width{
    width: 150px;
}

/* * {
    border: 1px solid black;
  }

  .row, .col {
    border: 1px solid black;
  } */
   