.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLeft {
  display: flex;
  align-items: first center;
  gap: 20px;
  margin: 10px;
  color: #11dc47;
  font-weight: 600;
}

.navRight {
  display: flex;
  margin-right: 50px;
  gap: 30px;
}

.signIn {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #11dc47;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart :nth-child(2) {
  color: #11dc47;
  font-weight: 500;
}
